.login-form {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #d5d2d2;
    margin-top: 16px;
}

button {
    background-color: rgb(127, 172, 231);
    margin-top: 16px;
    width: 120px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}